<header class="navigation-header">
    <nav class="navigation-bar" id="navigation-bar">
        <div class="filler"></div>
        <ul class="navigation-ul">
            <li><a class="navigation-button" href="/admin">Home</a></li>
            <li><a class="navigation-button" href="/profile">Profile</a></li>
            <li><a class="navigation-button" href="/friends">Friends</a></li>
            <li><a class="navigation-button" href="/chat">Chat</a></li>
            <li><a class="navigation-button" href="/stories">Stories</a></li>
            <li><a class="navigation-button" href="/settings">Settings</a></li>
        </ul>
        <a class="logout-button" href="/logout">Logout</a>
    </nav>
</header>
<br>


<!-- <button class="btn" onclick="window.location.href='/admin';">Home</button>
<button class="btn" onclick="window.location.href='/profile';">Profile</button>
<button class="btn" onclick="window.location.href='/friends';">Friends</button>
<button class="btn" onclick="window.location.href='/chat';">Chat</button>
<button class="btn" onclick="window.location.href='/settings';">Settings(Unavailable)</button>
<button class="btn" onclick="window.location.href='/stories';">Stories(Unavailable)</button>
<button class="btn" onclick="window.location.href='/logout';">Logout</button> -->