<button class="btn" onclick="window.location.href='/admin';">Home</button>
<button class="btn" onclick="window.location.href='/profile';">Profile</button>
<button class="btn" onclick="window.location.href='/friends';">Friends</button>
<button class="btn" onclick="window.location.href='/chat';">Chat</button>
<button class="btn" onclick="window.location.href='/settings';">Settings(Unavailable)</button>
<button class="btn" onclick="window.location.href='/stories';">Stories(Unavailable)</button>
<button class="btn" onclick="window.location.href='/logout';">Logout</button>