<div class="sidebar_chat">
    <div class="title_container"> <h2 class="title">Friends chat</h2> </div>

    <% friends_list.forEach((friend) => { %>
        <div class="sidebar_friend_display" onclick="window.location.href=<%= '\'/chat/' + friend._id %>'">
            <a class="sidebar_friend_name"> <%= friend.fname + ' ' + friend.lname %> </a>
        </div>
    <% }); %> 

</div>
