<!-- Chat page -->
<%- include('./partials/header') %>
<script src="/socket.io/socket.io.js"></script>
<!-- <script href="./models/chat.js" type="javascript"></script> -->
<h1> Chat</h1>
<%- include('./partials/menu_buttons') %>

<div id="chat-display-div">

</div>
<div class="chat-input-div">
    <!-- <form id="chat-input-form"> -->
        <input id = "message-content" type = "text" placeholder = "Enter message.." required/>
        <!-- <textarea name="message-content" id="message-content" placeholder="Enter message..." cols="30" rows="10"></textarea> -->
        <button id = "send-button" class="btn" onclick="sendMessage()">Send</button>
    <!-- </form> -->
</div>

<script>
    ////// SocketIO
    const socket = io();
    var display = document.getElementById('chat-display-div')
    
    // Just dummy functions to give server data
    user_data = {
        name:"dummy user"
    }
    data = {
        user_data,
        message : 'Just connected to chat!!'
    }
    socket.emit('message', data);

   // Send message from text box
   function sendMessage(){
        var message = document.getElementById('message-content').value;
        // console.log("found value: " + message);
        data.message = message;
        socket.emit('message', data);
        console.log(data);
    }

    // Listen to incoming message and display it
    socket.on('incoming-message', function(data){
        var content_div = document.createElement("div");
        var user_node = document.createTextNode(data.user_data.name + ": ");
        var msg_node = document.createTextNode(data.message);
        content_div.appendChild(user_node);
        content_div.appendChild(msg_node);
        display.appendChild(content_div);
        message_content.value = '';
    })

    var message_content = document.getElementById("message-content");
    message_content.addEventListener('keyup', function (event) {
        if (event.key === 'Enter' || event.keyCode === 13) {
            sendMessage();
            message_content.value = '';
        }
    });

    // e.key is the modern way of detecting keys
    // e.keyCode is deprecated (left here for for legacy browsers support)
    // keyup is not compatible with Jquery select(), Keydown is.

</script>
