<!-- Chat page -->
<%- include('header') %>
<h1> Chat</h1>

<div name="chat-display-div">

</div>
<div class="chat-input-div">
    <form id="chat-input-form">
        <input id = "message" type = "text" placeholder = "Enter message.." required/>
        <button class="btn">Send</button>
    </form>
</div>