<%- include('./partials/header') %>
<div class="outer_most_div">
<%- include('./partials/menu_buttons') %>
 

<div>

    <h1 class="menu_statement"> Sorry. This page under construction! </h1>
    <h2 class="menu_statement"> You did nothing wrong... </h2>

    <header class="navigation-header">
        <nav class="navigation-bar" id="navigation-bar">
            <div class="filler"></div>
            <ul class="navigation-ul">
                <li><a class="navigation-button" href="/admin">Go Back</a></li>
            </ul>
        </nav>
    </header>
    <br>


</div>
