<h2>Friends</h2>


<!-- Search for a user by their email -->



<!-- Check for friend Requests in my name -->


<!-- Friend List -->  -->

<!-- 
<%- include('menu_buttons') %>
<body>
    <div>
        <h1>All users</h1>
        <ul>
            <% users.forEach(function(user) { %>
                <li>
                    <%= user.email %>
                    <% if(user.active==true) { %>
                        online
                        <% } else { %>
                            offline
                            <% } %>
                    <%= user.email %>
                </li>
                <% }); %>
        </ul>
    </div>
    
</body> -->