<%- include('header') %>

<body>
  <div>
    <h1>Name</h1>
    <button class="btn" onclick="window.location.href='/login';">Login</button>
    <br>
    <br>
    <button class="btn" onclick="window.location.href='/register';">Register</button>
    <br>
    <br>
    <button class="btn" onclick="window.location.href='admin';">Admin</button>
  </div>


</body>

</html>
