<!-- Intro page -->
<%- include('./partials/header') %>

<body>
  <div class="outer_most_div">
  <div>
    <h1>Name</h1>
    <button class="btn" onclick="window.location.href='/login';">Login</button>
    <br>
    <br>
    <button class="btn" onclick="window.location.href='/register';">Register</button>
    <br>
  </div>
  </div>

</body>

</html>
