<!-- Login page -->
<%- include('./partials/header') %>
<!-- <div class="outer_most_div"></div> -->
  <h1> Login </h1>
<form action="/login" method="POST">
<div>
<label for="email">Email</label>
<input
type="email"
name="email"
placeholder="Enter Email"
/>
</div>
<div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
    />
  
</div>
<button type="submit" >Login</button>   
</form>
<button onclick="window.location.href='/auth/google'" >Sign In with Google</button>
